.cards__like-button {
    background-image: url(../../../image/icon-button_like.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.cards__like-button:hover {
    opacity: .5;
}