.profile__subtitle {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

@media screen and (min-width: 900px) {
  .profile__subtitle {
    text-align: left;
    max-width: 500px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
    
  }
}

@media screen and (max-width: 320px)  {
  .profile__subtitle {
    left: 19px;
  } 
}